 *{
    margin: 0;
    padding: 0;
} 
.topnav{
    position: fixed;
    width: 100%;
    height: 55px;
    overflow: hidden;
    background-color: #a52a2a;

}
.topnav a {
    position:relative;
    padding-left: 5px;
    padding-top: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 246, 246);
    text-decoration: none;
    font-size: 50px;
    line-height:50px;
    border-radius: 4px;
  }
.search{
    position:fixed;
    padding-left: 1700px;
    margin-top: -30px;
    
}
.botnav{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #a52a2a;
    color: white;
    text-align: center;

}
.card-video > div > h2, p{
    text-align: center;
    
}
.card-video > div > h2{
    color: black;
    text-align: center;
    
}

.card-video{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 20px;
    column-gap: 100px;
    margin-left: 20px;
    justify-content: space-between;
    align-items: center;
    max-width: 80px;
    padding-top: 65px;
    

}
.card-video >div{
    border-style: solid;
    border-width: 1.5px;
  

}
.card-video-full{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    padding-top: 65px;

}
.card-video-full{
    display: grid;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    padding-top: 65px;

}
.card-video-full > div > h2, p{
    text-align: center;
    
}
.card-video-full > div > h2{
    color: black;
    text-align: center;
}
    
.card-video img{
    height: 200px;
    width: 360px;
}
video{
    max-width: 1280px;
}
